# Copyright (c) 2026 The EGS_W1 Project Contributor
# SPDX-License-Identifier: MIT

if SHIELD_EGS_LEFT || SHIELD_EGS_RIGHT

config SHIELD
    default "egs"

config ZMK_SPLIT
    default y

config ZMK_PHYSICAL_LAYOUT
    default y

config KEYBOARD_NAME
    default "EGS"

endif